<div >
  <div>
    <div ng-if="jobs.length===0" style="font-size: 16px;text-align: center;margin-top: 10px;">
        You dont have any jobs
    </div>
    <div class="list-group" ng-if="jobs.length>0">
      <div ng-repeat="job in jobs">
        <a ui-sref="providerCleaningsDetail({ cleaningId: job.id })" class="list-group-item" style="box-shadow: 7px 8px 10px #888888;">
        <h4 class="list-group-item-heading">{{job.address_1}}</h4>
        <p class="list-group-item-text">{{job.job_date | date: 'fullDate'}}</p>
        </a>
        <br>
      </div>
    </div>
  </div>
</div>
