<div class="row">
  <div class="col-xs-12">
    <div class="list-group " >
      <a class="list-group-item"><h4 class="list-group-item-heading">ADDRESS : <span>222 Rim Drive</span></h4></a>
      <a class="list-group-item" style="border-top:none"><h4 class="list-group-item-heading">JOB DATE : <span>{{job.job_date}}</span></h4></a>
    </div>
  </div>
</div>
<div class="file-upload">
  <label for="upload" class="file-upload__label">Select Images</label>
  <input type="file" nv-file-select="" uploader="uploader" multiple class="file-upload__input">
</div>
<div class="col-md-9" style="margin-bottom: 40px">
  <div class="button" ngf-select ng-model="files" ngf-multiple="true">Select</div>
   Drop files: <div ngf-drop ng-model="files" class="drop-box">Drop</div>
   <button type="submit" ng-click="submit()">submit</button>
</div>
<div class="col-md-9" style="margin-bottom: 40px">
      <p class="ng-binding">Queue length: 0</p>
      <table class="table">
                      <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <!-- <th ng-show="uploader.isHTML5">Progress</th> -->
                                <!-- <th>Status</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="item in uploader.queue">
                               <td>
                                   <strong>{{ item.file.name }}</strong>
                                   <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>

                               </td>
                               <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

                               <td nowrap>

                                   <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                       <span class="glyphicon glyphicon-trash"></span> Remove
                                   </button>
                               </td>
                           </tr>
                       </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }" style="width: 0%;"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" disabled="disabled">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" disabled="disabled">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>
